
body {
		background: url("../images/background2.png") repeat fixed;
}

article {
	margin: 8px 0 0 8px;

}


body section article{
	background-color: #ffeedd;
	border: thick solid black;
	border-radius: 3px;
}

header, footer {
	background-color: #ffeedd;
	border: thick solid black;
}


.jumbotron{
	background-color: #ffeedd;
}

footer {
	margin-top: 20px;
}

footer p{
	color: black;
	text-align: center;
}

header h1{
	font-family: 'Cabin Font','Segoe UI Black', sans-serif;
	color: #f9cf35;
	font-size: 56px;
}

.brown{
	color: #ac7339;
}

.navbar {
	background-color: #ffeedd;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-top: thick solid black;
	border-left: thick solid black;
	border-right: thick solid black;
	border-bottom: thick solid black;
}

nav .btn {
    background-color: #3a0606;
    color: #e4e493; 
	margin-top: 5px;
	margin-bottom: 5px;
}

nav a{
	margin-left: 40px;
	color: #ac7339;
}

nav a:visited {
	color: #ac7339
}

nav a:hover{
	font-weight: bold;
}

nav a:active {
	text-decoration: none;
}

.oi-media-step-backward {
  fill: #000000;
}