
body {
		background: url("../images/background2.png") repeat fixed;
		//max-width: 900px;
		margin: 0 auto;
}

article {
	margin: 8px 0 0 8px;

}


body section {
	background-color: #ffeedd;
	border: thick solid black;
	border-radius: 3px;
	margin: 0 auto;
	max-width: 500px;
}

header, footer {
	height: auto;
	background-color: #ffeedd;
	color: #fef9ff;
	text-align: center;
	padding: 5px 10px 5px 40px;
	border: thick solid black;
}

footer p{
	color: black;
}

header h1{
	font-family: 'Cabin Font','Segoe UI Black', sans-serif;
	//color: #e6e600;
	color: #b3b300;
	font-size: 56px;
}

.brown{
	color: #ac7339;
}

nav {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	border-left: thick solid black;
	border-right: thick solid black;
	border-bottom: thick solid black;
}


nav a{
	margin-left: 40px;
	color: #ac7339;
}

nav a:visited {
	color: #999900
}

nav a:hover{
	font-weight: bold;
}

nav a:active {
	text-decoration: none;
}
